.modal_container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.357);
    position: fixed;
    display: flex;
    top: 0;
    visibility: hidden;
}

.modal_reporte {
    display: flex;
    position: relative;
    transition-duration: 2s;
    /* margin-top: -500px; */
    transform: translateY(-200%);
    box-shadow: 0 0 13px #0000003f;
}

.efecto {
    transition-duration: 1s;
    transform: translateY(0%);
    /* margin-top: 500px; */
}

.espaciado {
    margin-bottom: 8px;
}

.containerClose {}

.close {
    background-color: red;
    border: 10px;
    cursor: pointer;
    padding: 5px 13px;
    box-shadow: 0 0 5px #767676;
}


/* modal parametros */

.modal_container_parametros {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.357);
    position: fixed;
    display: flex;
    top: 0;
    visibility: hidden;
}

.modal_parametros {
    display: flex;
    position: relative;
    transition-duration: 2s;
    /* margin-top: -500px; */
    transform: translateX(-200%);
    box-shadow: 0 0 13px #0000003f;
}

.efectoParametros {
    transition-duration: 1s;
    transform: translateX(0%);
    /* margin-top: 500px; */
}

.closeParametros {
    background-color: red;
    border: 10px;
    cursor: pointer;
    padding: 5px 13px;
    box-shadow: 0 0 5px #767676;
}

@media (max-width: 2300px) {
    .cedulaMediaQuery {
        margin-left: 195px;
    }
}

@media (max-width: 1500px) {
    .cedulaMediaQuery {
        margin-left: 160px;
    }
}

@media (max-width: 1199px) {
    .cedulaMediaQuery {
        margin-left: 124px;
    }
}

@media (max-width: 990px) {
    .cedulaMediaQuery {
        margin-left: 77px;
    }
}

@media (max-width: 765px) {
    .cedulaMediaQuery {
        margin-left: 38px;
    }
}


/* ------------------ */

@media (max-width: 2300px) {
    .codigoMediaQuery {
        margin-left: 195px;
    }
}

@media (max-width: 1500px) {
    .codigoMediaQuery {
        margin-left: 160px;
    }
}

@media (max-width: 1199px) {
    .codigoMediaQuery {
        margin-left: 124px;
    }
}

@media (max-width: 990px) {
    .codigoMediaQuery {
        margin-left: 77px;
    }
}

@media (max-width: 765px) {
    .codigoMediaQuery {
        margin-left: 38px;
    }
}


/* --------------- */

@media (max-width: 2300px) {
    .cedulaReporteMediaQuery {
        margin-left: 100px;
    }
}

@media (max-width: 1500px) {
    .cedulaReporteMediaQuery {
        margin-left: 40px;
    }
}

@media (max-width: 920px) {
    .cedulaReporteMediaQuery {
        margin-left: 30px;
    }
}

@media (max-width: 770px) {
    .cedulaReporteMediaQuery {
        margin-left: 20px;
    }
}

@media (max-width: 500px) {
    .cedulaReporteMediaQuery {
        margin-left: 10px;
    }
}