.modal_container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.357);
    position: fixed;
    display: flex;
    top: 0;
    visibility: hidden;
}

.modal_reporte {
    display: flex;
    position: relative;
    transition-duration: 2s;
    /* margin-top: -500px; */
    transform: translateY(-200%);
    box-shadow: 0 0 13px #0000003f;
}

.efecto {
    transition-duration: 1s;
    transform: translateY(0%);
    /* margin-top: 500px; */
}

.espaciado {
    margin-bottom: 8px;
}

.containerClose {}

.close {
    background-color: red;
    border: 10px;
    cursor: pointer;
    padding: 5px 13px;
    box-shadow: 0 0 5px #767676;
}


/* modal parametros */

.modal_container_parametros {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.357);
    position: fixed;
    display: flex;
    top: 0;
    visibility: hidden;
}

.modal_parametros {
    display: flex;
    position: relative;
    transition-duration: 2s;
    /* margin-top: -500px; */
    transform: translateX(-200%);
    box-shadow: 0 0 13px #0000003f;
}

.efectoParametros {
    transition-duration: 1s;
    transform: translateX(0%);
    /* margin-top: 500px; */
}

.closeParametros {
    background-color: red;
    border: 10px;
    cursor: pointer;
    padding: 5px 13px;
    box-shadow: 0 0 5px #767676;
}

@media (max-width: 2300px) {
    .cedulaMediaQuery {
        margin-left: 195px;
    }
}

@media (max-width: 1500px) {
    .cedulaMediaQuery {
        margin-left: 160px;
    }
}

@media (max-width: 1199px) {
    .cedulaMediaQuery {
        margin-left: 124px;
    }
}

@media (max-width: 990px) {
    .cedulaMediaQuery {
        margin-left: 77px;
    }
}

@media (max-width: 765px) {
    .cedulaMediaQuery {
        margin-left: 38px;
    }
}


/* ------------------ */


/* @media(min-width: 2300px) {
    .ccMediaQuery {
        margin-left: 200px;
    }
}

@media (min-width: 1500px) {
    .ccMediaQuery {
        margin-left: 160px;
    }
}

@media (min-width: 1199px) {
    .ccMediaQuery {
        margin-left: 127px;
    }
}

@media (min-width: 990px) {
    .ccMediaQuery {
        margin-left: 94px;
    }
}

@media (min-width: 765px) {
    .ccMediaQuery {
        margin-left: 58px;
    }
} */


/* --------------- */


/* 
@media (max-width: 2300px) {
    .cedulaReporteMediaQuery {
        margin-left: 100px;
    }
}

@media (max-width: 1500px) {
    .cedulaReporteMediaQuery {
        margin-left: 40px;
    }
}

@media (max-width: 920px) {
    .cedulaReporteMediaQuery {
        margin-left: 30px;
    }
}

@media (max-width: 770px) {
    .cedulaReporteMediaQuery {
        margin-left: 20px;
    }
}

@media (max-width: 500px) {
    .cedulaReporteMediaQuery {
        margin-left: 10px;
    }
} */

.ul_navar_items {
    margin: 0;
    position: relative;
    /* top: 10px; */
}

.ul_navar_items li {
    /* text-decoration: none; */
    list-style: none;
    /* margin-bottom: 20px; */
    width: 95%;
    display: flex;
}

.ul_navar_items li a {
    text-decoration: none;
    color: white;
    /* background-color: yellowgreen; */
    border-bottom: solid 1px rgba(0, 0, 0, 0.097);
    width: 100%;
    padding: 12px 100% 12px 12px;
    display: flex;
}

.ul_navar_items li a:hover {
    background-color: teal;
    border-left: solid 10px orange;
    transition: 0.3s;
}

.btnFormat {
    border-radius: 5px;
    padding: 1%;
    background-color: #007877;
    border: none;
    color: white;
    box-shadow: 0 0 5px #0000003f;
}

.btnFormat:hover {
    background-color: #025f6b;
}